<!DOCTYPE html>
{% load static %}
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Abhaya+Libre&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="{% static 'css/story7.css' %}">
    <script src="{% static 'js/story7.js' %}"></script>



<style>

</style>
</head>

<body>

<div class="container" id="head">
<button type="button" class="btn btn-link" id="switch" name="0"> Ganti Tema </button>
</div>


<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto" id="div_1">
      <h1> Click the accordion to find out <br/> about me</h1>
    </div>
  </div>
  <div class="row justify-content-md-center">


    	
    	<div id="accordion">
        	<h3>Activity</h3>
        	<div style="background-color:rgba(3, 142, 169, 0.5);" id="p">
            <p>- Eat</p>
            <p>- Sleep</p>
            <p>- Ga gemuk gemuk :(</p>
        	</div>
        <h3>Experience</h3>
        	<div style="background-color:rgba(3, 142, 169, 0.5);" id="p">
            <p>- Wisuda Genap 2019</p>
            <p>- Staff Recis Moederland 2017</p>
            <p>- Panitia HUT-RI GKC 2019  </p>
        	</div>
        	<h3>Achievement</h3>
        	<div style="background-color:rgba(3, 142, 169, 0.5);" id="p">
            <p>- 2nd Place at Recis Stardust Cup Dota 2</p>
            <p>- Juara balap karung tingkat RT</p>
            <p>- Juara apalagi ya</p>
        	</div>
    	</div>



  
  </div>
</div>


</body>



</html>