#accordion > h3, #toggle {
    cursor: pointer;
}

#accordion{
    width: 80%;
    max-width: 600px;
}


html{
	background-color:#06374a;
	padding-top:10px;
}
h1{
	font-family: 'Abhaya Libre', serif;
	color:white;
}
#div_1{
	background-color:#071d25 ;
	max-width:600px;
	padding:20px;
	margin-bottom:50px;
}
.container{
	background-color:#06374a;
}
body{
	background-color:#06374a;
}
#switch{
	color:white;
	position:absolute;
	right:5px;
	font-size:20px;
}
#head{
	padding-bottom:50px;

}
p{
	color:white;
	font-family: 'Muli';
	padding:10px;
	font-size:18px;
}

h3{
	color:white;
	border-style:solid;	
	padding:5px;
}
