<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'css/story8.css' %}" />
  
    <title>
            Cari Buku
    </title>
</head>

<body>

<div class="container">
    <div class="d-flex justify-content-center">
    <h1 style="font-family:Muli"> <b> BookFinder<b> </h1> 
    </div>

    <div class="d-flex justify-content-center">
    <form id="book-form" style="width:500px">

    <div class="row justify-content-md-center">
    <div class="col col-md-8">
    <input type="text" id="book-search" class="form-control form-control-lg" placeholder="Search book by title"> 
    </div>

    <div class="col col-lg-2">
    <button type="submit" class="btn btn-block btn-lg btn-success" id="b1" style="width:100px;">Find</button>
    </div>
    </div>

    </form>
    </div>

</div>


<div class="row justify-content-md-center" id="result">

</div>


<script src="{% static 'js/story8.js' %}"> </script>
</body>

</html>