    body{
        padding:20px;
    }
    #result{
        padding:20px;
        margin-top:20px;
    }
    img{
        max-width:100px;
        max-height:240px;
    }
    #item{
        max-width:350px;
        
    }
    #book-search{
        border:2px solid black;
    }
