<!DOCTYPE html>

<html>

<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<title>Story 9 | Login </title>
</head>
<div class="form">
        <center><h2 style="padding-top:5px;background-color:green;height:50px;color:white">Please login</h2></center>
        <form action="{% url 'story9:login' %}" method="POST" class="test mid" style="color:black">
            {% csrf_token %}


        	<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
      <p style="margin-right:30px">Username</p> 
            {{ form.username }}
    </div>
    <div class="col">
    </div>
  </div>
  <div class="row">
    <div class="col">
    
    </div>
    <div class="col">
      <p style="margin-right:30px">Password</p> 
            {{ form.password }}
    </div>
    <div class="col">
   
    </div>
  </div>
   <div class="row">
    <div class="col">
    
    </div>
    <div class="col" style="margin-top:10px">
      <button type="submit" class="formbutton">Login</button>
    </div>
    <div class="col">
   
    </div>
  </div>
</div>
        </form>
    </div>


</html>
