<!DOCTYPE html>

<html>
<head>
<title>Welcome to | Story 9 </title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<div class="form">
<center><h2 style="padding-top:5px;background-color:green;height:50px;color:white">Welcome</h2></center>
</div>

<div class="container">
<h3> Hello {{ user.username }}</h3>

<p> Selamat ! <br> Anda berhasil login ^^ <br> Have a nice day !</p>

 <form action="{% url 'story9:logout' %}" method="POST" class="test mid">
            {% csrf_token %}
            <div>
                <button type="submit" class="formbutton">Logout</button>
            </div>
    </form>
</div>	

</html>