<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>

$(document).ready(function(){
  $("#b1").click(function(){ //pink button
    if(document.getElementById("b1").name == "0"){
    $("#layout").css({"background-color": "#f7eaf4"});
    $("html").css({"background-color": "#f7eaf4"});
    $("#n1").css({"background-color": "#e4268d"});
    $("#b1").css({"background-color": "#fa1958", "border-color" : "#e6aec1"});
    $("#col-1").css({"border-color" : "#f7cadf"});
    $("#col-2").css({"border-color" : "#f7cadf"});
    document.getElementById("b1").name = "1";
        }
else{
    $("#layout").css({"background-color": "#41b8c8"});
    $("html").css({"background-color": "#41b8c8"});
    $("#n1").css({"background-color": "#1c1d24"});
    $("#b1").css({"background-color": "#08acc3", "border-color" : "#17a2b8"});
    $("#col-1").css({"border-color" : "#0eb3c5"});
    $("#col-2").css({"border-color" : "#0eb3c5"});
    document.getElementById("b1").name = "0";

}

  });
});

</script>



<title> Story 6 - Update Status
    </title>
<style>
html{
    background-color:#41b8c8 ;
}
nav{
    background-color:#1c1d24;
}
body{
    background-color:#41b8c8;
}
#layout{
    padding:30px;
}
.col-sm{
    padding:25px;
    margin-left:50px;
    border:3px double #0eb3c5;
}
.button{
    margin-top:15px;
}
a{
    font-family:'Playfair Display'; 
}

</style>


</head>

<body>  
<nav class="navbar navbar-expand-lg navbar-light" id="n1">
  <a style="color:white;"class="navbar-brand" href="#"> PPW Story 6 </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
    </div>
  </div>
</nav>


<div class="container-fluid" id="layout">
     <button type="button" class="btn btn-info" id="b1" style="background-color:#08acc3;"   
    name="0" > Ganti tema </button>


  <div class="row">
    <div class="col-sm" style="margin-right:50px;background-color:white;max-height:480px;max-width:400px;margin-bottomZ:100px" id="col-1">
        <h1 style="line-height:1.5"> Status </h1> 
        <form method="POST" class="form"> 
    {% csrf_token %} 

    {{ form.isi }}


        <br/>
        <input type="submit" class="button" name="post" value="Submit" /> 
        </form>

    </div>

    <div class="col-sm"  style="background-color:white;max-width:700px" id="col-2">
                <h1> Timeline </h1>
                <p > </p>

                {% for stat in status %}
                <p style="border-style:groove;line-height:2">
                {{ stat.isi }}

                <br/>

                - 
                {{ stat.tanggal }}
                            <br/>
                </p>

                        <br/>
                {% endfor %}
    </div>

  </div>
</div>
  



</body>
</html>